*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,body{
    display: grid;
    place-items: center;
    height: 100vh;
    background: #74ff21;
}
.content{
    position: relative;
    height: 65px;
    width: 250px;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.36);
}
.content::before{
    content: "share";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    color: #74ff21;
    font-size: 23px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s linear;
}
.content:hover::before{
    left: -250px;
}
.content .social-media{
    position: absolute;
    top: 0;
    right: -250px;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease-in-out;
}
.content:hover .social-media{
    right: 0;
}
.social-media i{
    font-size: 22px;
    color: #74ff21;
    transition: all 0.4s linear;
}
.social-media i:hover{
    transform: scale(1.1);
}